<a href="https://colab.research.google.com/github/richardenrico/Pengantar-Deep-Learning/blob/main/Week_1_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week 1 - Deep Learning**

Richard Enrico Sulieanto

H071191055

# Hello, World!

In [ ]:
print('Hello, World!')

Hello, World

# Variable and Data Type

Variable is a value that can change, depending on conditions or on information passed to the program.

Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

In [ ]:
# Numeric = can be integer, floating number or even complex numbers.
a = 5
print("Type of a: ", type(a))
  
b = 5.0
print("\nType of b: ", type(b))
  
c = 2 + 4j
print("\nType of c: ", type(c))

# String = a collection of one or more characters put in a single quote, double-quote or triple quote
String1 = 'Welcome to the Ze World'
print("String with the use of Single Quotes: ") 
print(String1) 

# List = just like the arrays, declared in other languages which is a ordered collection of data
List = ["Hello", "World", "!"] 
print("\nList containing multiple values: ") 
print(List[0])  
print(List[2]) 

# Tuple = just like list but tuples are immutable i.e. tuples cannot be modified after it is created
tuples = (1, 2, 4, 5, 6)
print("\nTuple : ") 
print(tuples) 

# Boolean = data type with one of the two built-in values, True or False
print(type(True))
print(type(False))

# Set =  an unordered collection of data type that is iterable, mutable and has no duplicate elements.
set1 = set([1, 2, 'Hello', 4, 'World', 6, '!']) 
print("\nSet with the use of Mixed Values") 
print(set1) 

# Dictionary = n unordered collection of data values, used to store data values like a map, which 
# unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>
String with the use of Single Quotes:
Welcome to the Ze World

List containing multiple values:
Hello
!

Tuple :
(1, 2, 4, 5, 6)
<class 'bool'>
<class 'bool'>

Set with the use of Mixed Values
{1, 2, 4, 6, 'World', '!', 'Hello'}

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

# Operators

## Arithmetic Operators

In [ ]:
# Examples of Arithmetic Operator
a = 9
b = 4
 
# Addition of numbers
add = a + b
 
# Subtraction of numbers
sub = a - b
 
# Multiplication of number
mul = a * b
 
# Division(float) of number
div1 = a / b
 
# Division(floor) of number
div2 = a // b
 
# Modulo of both number
mod = a % b
 
# Power
p = a ** b
 
# print results
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)
print(p)

13
5
36
2.25
2
1
6561

## Comparison Operators

In [ ]:
# Examples of Relational Operators
a = 13
b = 33
 
# a > b is False
print(a > b)
 
# a < b is True
print(a < b)
 
# a == b is False
print(a == b)
 
# a != b is True
print(a != b)
 
# a >= b is False
print(a >= b)
 
# a <= b is True
print(a <= b)

False
True
False
True
False
True

## Logical Operators

In [ ]:
# Examples of Logical Operator
a = True
b = False
 
# Print a and b is False
print(a and b)
 
# Print a or b is True
print(a or b)
 
# Print not a is False
print(not a)

False
True
False

## Bitwise Operators

In [ ]:
# Examples of Bitwise operators
a = 10
b = 4
 
# Print bitwise AND operation
print(a & b)
 
# Print bitwise OR operation
print(a | b)
 
# Print bitwise NOT operation
print(~a)
 
# print bitwise XOR operation
print(a ^ b)
 
# print bitwise right shift operation
print(a >> 2)
 
# print bitwise left shift operation
print(a << 2)

0
14
-11
14
2
40

## Assignment Operators

In [ ]:
# Examples of Assignment Operators
a = 10

# Assign value
b = a
print(b)

# Add and assign value
b += a
print(b)

# Subtract and assign value
b -= a
print(b)

# multiply and assign
b *= a
print(b)

# bitwise lishift operator
b <<= a
print(b)

10
20
10
100
102400

## Identity Operators

In [ ]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

## Membership Operators

In [ ]:
# Python program to illustrate
# not 'in' operator
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
	print("x is NOT present in given list")
else:
	print("x is present in given list")

if (y in list):
	print("y is present in given list")
else:
	print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

# Input/Output

In [ ]:
# Program to check input
# type in Python

num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)

# Printing type of input value
print ("type of number", type(num))
print ("type of name", type(name1))

Enter number :123
123
Enter name : Ze World
Ze World
type of number <class 'str'>
type of name <class 'str'>

# Control Flow

## Conditionals

In [ ]:
i = 20
if (i == 10):
    print("i is 10")
elif (i == 15):
    print("i is 15")
elif (i == 20):
    print("i is 20")
else:
    print("i is not present")

i is 20

## Loops

In [ ]:
# For loop
list1= [1, 2, 3]

for i in list1:
    print(i)

print()    

# While
idx= 0
while(idx!=len(list1)):
    print(list1[idx])
    idx+=1
    
print()
    
# List comprehension
print('\n'.join([str(i) for i in list1]))

1
2
3

1
2
3

1
2
3

# Functions

Python Functions is a block of related statements designed to perform a computational, logical, or evaluative task.

In [ ]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
print(square(multiply(3, 2)))

# To improve code readability, it is sometimes useful to explicitly name the arguments
print(square(multiply(a=5, b=4)))

36
400